* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: orange;
}

.accordion {
  margin: 2rem auto;
  width: 50rem;
}

.accordion-item {
  list-style: none;
  width: 100%;
  padding: 1rem;
  background: orange;
  border-top: 2px solid orangered;
  /* cursor: pointer; */
}

.accordion-item label {
  padding: 1rem;
  cursor: pointer;
}

.accordion_item-header {
  display: flex;
  justify-content: space-between;
}

.accordion_image {
  display: flex;
  justify-content: center;
  max-height: 0;
  transition: max-height .8s ease;
}

.title {
  margin-top: 50px;
  text-align: center;
}

.label {
  display: grid;
  grid-template-columns: 1fr 1rem;
}

.image {
  grid-column: 1/3;
  width: 15rem;
  margin: 0 auto;
  max-height: 0;
  transition: max-height .8s ease;
}

.content {
  display: flex;
  justify-content: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height .8s ease;
}

.input:checked + .label > .image {
  max-height: 50rem;
}

.input:hover + .label > .image {
  max-height: 50rem;
}

.icon {
  transform: rotate(45deg);
}